<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Te Amo! ❤️</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>Obrigada, meu amor! 💞</h1>
        <p class="frase">Você respondeu tudo com tanto carinho... 😍</p>

        <p class="frase">Prepare-se para a surpresa final 👀🎁</p>

        <button class="btn" onclick="location.href='/'">Voltar para o início 💖</button>
    </div>

</body>
</html>
