{% extends "base.html" %}
{% block title %}Início - Nosso Amor{% endblock %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <h1>Feliz Aniversário de Namoro! ❤️</h1>
    <p class="frase">Hoje é um dia especial — vamos relembrar toda nossa trajetória?</p>

    <div class="acao-botoes">
        <a class="btn" href="/quiz">Começar o Quiz 🌹</a>
        <a class="btn outline" href="/respostas">Respostas (pra paulinho) 🔐</a>
    </div>
</div>
{% endblock %}
